.btn-buy:hover {
	color: #fff;
	color: #fff;
	background-color: #b6a615;
	border-color: #b6a615;
	
}
.hover.btn-buy {
	color:brown
}

.btn-primary:hover {
	color: aquamarine;
	background-color: #b6a615;
	border-color: #b6a615;
}

