{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig'%}

{% block layout_footer_copyright %}
    <div class="footer-copyright">
       Erstellt von Erwin Walter
    </div>

     {{ parent() }}
{% endblock %}
